*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#000;

color:white;

font-family:Consolas, monospace;

overflow:hidden;

}



/* BACKGROUND */

.wallpaper{

position:fixed;

inset:0;

z-index:0;

background-image:url("nightfall.png");

background-size:cover;

background-position:center;

transition:1.5s ease;

}



.dark-filter{

position:fixed;

inset:0;

z-index:1;


background:

linear-gradient(

rgba(0,0,0,.35),

rgba(0,0,0,.75)

);

}



/* CRT */

.scanlines{

position:fixed;

inset:0;

z-index:3;

pointer-events:none;


background:

repeating-linear-gradient(

to bottom,

rgba(255,255,255,.04) 0px,

rgba(255,255,255,.04) 1px,

transparent 3px,

transparent 5px

);

}





/* MENU */


.game-menu{

position:relative;

z-index:10;


height:100vh;

width:100%;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



/* TITLE */


.operation-main{


color:#ff2b2b;


font-size:100px;


font-weight:bold;


letter-spacing:15px;


text-shadow:


0 0 20px red,

0 0 50px rgba(255,0,0,.5);

}



.operation-subtitle{


margin-top:15px;


font-family:

"Brush Script MT",
"Segoe Script",
cursive;


font-size:35px;


color:#ddd;


}



/* OPTIONS */


.mode-options{


margin-top:80px;


display:flex;

flex-direction:column;

gap:25px;


align-items:flex-start;

}



.mode-options a{


color:#777;


text-decoration:none;


font-size:35px;


letter-spacing:6px;


transition:.3s;

}



.mode-options a:hover{


color:white;


transform:translateX(15px);


text-shadow:

0 0 15px red;


}



.mode-options a:hover::before{


content:"> ";

color:#ff2b2b;

}



.mode-description{


margin-top:60px;

color:#aaa;

font-size:20px;

letter-spacing:3px;

}




/* MOBILE */


@media(max-width:600px){


.operation-main{

font-size:45px;

letter-spacing:5px;

}


.operation-subtitle{

font-size:18px;

}


.mode-options{

margin-top:50px;

}


.mode-options a{

font-size:22px;

}



}

#transition{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.88);

    color:#ff2b2b;

    font-family:Consolas, monospace;

    font-size:20px;

    letter-spacing:2px;

    text-shadow:0 0 10px #ff2b2b;

    opacity:0;

    pointer-events:none;

    z-index:9999;

    transition:.2s;

}


#transition.active{

    opacity:1;

}
