body {
    margin: 0;
    height: 100vh;
    background: #050505;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen {
    border: 1px solid red;
    padding: 50px;
    background: rgba(20,0,0,0.5);
}

h1 {
    font-size: 80px;
    color: red;
    letter-spacing: 15px;
}

h2 {
    letter-spacing: 5px;
}

button {
    margin-top: 30px;
    padding: 15px 40px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
